[core]
	excludesfile = /Users/conorao/workspace/dotfiles/.gitignore
[user]
	name = Conor Odell
	email = conorao@gmail.com
[alias]
  fb = commit -m "force build" --allow-empty
  cb = rev-parse --abbrev-ref HEAD
[init]
	defaultBranch = main
[credential]
	helper = 
	helper = 
	helper = /usr/local/share/gcm-core/git-credential-manager
[credential "https://dev.azure.com"]
	useHttpPath = true
